

body {
    background-image: url("Pilt.jpg");
    background-size: 100%;
}
.container {
    background-color: darkgrey;
}
.table-registration{
    margin-left: auto;
    margin-right: auto;
    width: 400px;
    text-align: left;
}
.back-button{
    position: relative;
}